[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=jonatas
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/jonatas/.config/i3/i3lock-wrapper
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
